.account-balance{
    text-align: center;
}

.account-balance h3{
    margin-top: 50px;
    padding-top:20px ;
    bottom:0px ;
}

.account-balance .saving-input {
    margin-left: 0;
    height: 40px;
}

.account-balance form{
   margin-top: -50px;
}
