input, select
{
    font-family: "Special Elite", cursive;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    height: 40px;
    border-color:#e4eaea;
    margin: 0 5px;
}

select
{
    font-family:'Courier New', Courier, monospace;
    padding: 0px;
    border-radius: 10px;
    outline: none;
    width: 80%;
    height: 40px;
    border-color:#e4eaea;
    margin: 20px;
}