input
{
    font-family: "Special Elite", cursive;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    // width: 50%;
    // border-width: 2px;
    border-color:#e4eaea;
    margin: 0 5px;
}